p {
  color: black;
  text-align: center;
}

a {
  color: blue;
  text-align: center;
}

a:hover {
  color: darkblue;
  font-weight: bold;
  transition: 0.5s;
}


#hi {
  font-size: xx-large;
  text-align: center;
}

.cool {
  color: yellow;
}



body {
  background-color: #607B94;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  color: whitesmoke;
  border: 2px solid black;
  text-align: center;
  list-style-type: none;
  padding: 3px;
}

ul:hover {
  color: whitesmoke;
  background-color: #86a6c4;
  box-shadow: 10px 5px 5px whitesmoke;
  transition: 0.5s;
}

ol {
  color: whitesmoke;
  border: 2px solid black;
}

ol:hover {
  color: whitesmoke;
  background-color: #86a6c4;
  box-shadow: 10px 5px 5px whitesmoke;
  transition: 0.5s;
}

img {
  width: 25%;
  border: 3px solid white;
}


.center-button {
  padding: 13px 24px; 
  border-color: rgb(255, 255, 255);
  border-radius:10px;
  box-shadow: 10px 5px 5px gray;
  transition-duration: 1s;
  position:absolute;
  bottom: 50%;
  left: 50%;
  border-width: 2px;
  transition-duration: 0.8s;
  background-color: gold;
  color:rgb(0, 132, 255);
}