p {
    color: black;
}     

a {
  color:blue;
  transition: 0.5s;
}

a:hover {
  color:darkblue;
  font-weight: bold;
}
#hi {
  font-size: xx-large;
}

.cool {
    color:yellow
}


body {
    background-color: #607B94;
    color:white
  }

  ul {
    color: whitesmoke;
    border: 2px solid black;
    
  }
ul:hover {
  color : whitesmoke;
  background-color: #86a6c4;
  box-shadow: 10px 5px 5px whitesmoke;
  transition: 0.5s;
}
  ol {
    color:whitesmoke;
    border:2px solid black;
  }

  ol:hover {
    color : whitesmoke;
    background-color: #86a6c4;
    box-shadow: 10px 5px 5px whitesmoke;
    transition: 0.5s;
  }

img {
    border: 7px solid white;
    transition: 0.5s;
}

.hover img {
  transform: scale(1.25);
  opacity: 1;
  box-shadow: 5px 5px 5px gray;
}