p {
    color: black;
}     
#hi {
  font-size: xx-large;
}

.cool {
    color:yellow
}

.dumb {
    font-size: small/;
}

body {
    background-color: rgb(13, 158, 50);
    color:white
  }

  ul {
    color: whitesmoke;
    border: 5px solid black;
    box-shadow: 10px, 5px, 5px, whitesmoke;
  }

  ol {
    color:whitesmoke;
    border: 5px solid black;
  }

img {
    border: 7px solid white
}