.photos {
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    flex-wrap: wrap;
}
.photos img {
    border: 1px solid white;
    width: 15%;
    object-fit: cover;
    opacity: 0.5;
    transition: 0.5s;
}

.photos img:hover{
    transform: translateY(-10px) scale(1.25);
    opacity: 1;
    box-shadow: 5px 5px 5px white;
}

 a {
    color:rgb(58, 116, 58); 
    transition: 0.5s; 
}

 a:hover {
    color: aliceblue; 
}

body {
    background-color:rgb(58, 116, 58);
    color:aliceblue;
}


.fake u {
    position: relative;
    color: blue;
}

.fake u:hover {
    top: 100px;
}