.photos {
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    flex-wrap: wrap;
}
.photos img {
    border: 1px solid white;
    width: 15%;
    object-fit: cover;
    opacity: 0.5;
    transition: 0.5s;
}

.photos img:hover{
    transform: translateY(-10px) scale(1.25);
    opacity: 1;
    box-shadow: 5px 5px 5px white;
}

 a {
    color:rgb(58, 116, 58); 
    transition: 0.5s; 
}

 a:hover {
    color: aliceblue; 
}

body {
    background-color:rgb(58, 116, 58);
    color:aliceblue;
}


.fake u {
    position: relative;
    color: blue;
}

.fake u:hover {
    top: 100px;
}

.right-button {
    padding: 7.5px 16px; 
    border-color: rgb(255, 255, 255);
    border-radius:10px;
    box-shadow: 10px 5px 5px gray;
    transition-duration: 1s;
    position:absolute;
    bottom: 5%;
    right: 2%;
    border-width: 2px;
    transition-duration: 0.8s;
    background-color: ;
    color: forestgreen;
}

.right-button:hover {
    background-color:rgb(143, 143, 143);
    box-shadow: 10px 5px 5px black;
}