body {
    background-color:rgb(58, 116, 58);
    color:aliceblue;
}

.videos {
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    flex-wrap: wrap;
}

video {
    width: 20%;
    border: 3px solid white;
}

.left-button {
    border-radius: 3px;
    background-color: gainsboro;
    justify-content: flex-end;
    align-items: flex-start;
}