body {
    background-color:rgb(58, 116, 58);
    color:aliceblue;
}

.videos {
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    flex-wrap: wrap;
}

video {
    width: 20%;
    border: 3px solid white;
}

.left-button {
    padding: 13px 24px; 
    border-color: rgb(255, 255, 255);
    border-radius:10px;
    box-shadow: 10px 5px 5px gray;
    transition-duration: 1s;
    position:absolute;
    bottom: 5%;
    left: 2%;
    border-width: 2px;
    transition-duration: 0.8s;
    background-color: ;
    color: forestgreen;
}

.left-button:hover {
    background-color:rgb(143, 143, 143);
    box-shadow: 10px 5px 5px black;
}